body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #00539f;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #fbbf02;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #d26500;
}

section {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 70%;
}

#sidebar {
    background-color: #f4f4f4;
    padding: auto;
    width: 74%;
    margin: 0 auto;
}

aside h3 {
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.right-align {
    text-align: left;
}

.contact-form {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #00539f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #d26500;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.image-container {
    position: relative; *************** relative position 
    float: left; **************** float 
    margin: 0 20px 20px 0;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}
